
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #14202E;
}

  .content {
    position: relative;
    display: grid;
    margin: 0.5%;
    height: 80%;
    border-radius: 0.5rem;
    background-color: #2B4257;
    border-color: #60dff6;
    border-width: 1px;
    border-style: solid;

  }

/*
Royal Blue
#091235

Navy Blue
#14202E

Midnight Blue
#2B4257

Blue Gray
#88A9C3
*/